@import "../variables";

.styles {
  .zzz {
    color: red;
  }
}

.footer {
  padding: 2rem 4%;
  text-align: center;
  color: white;
  background-color: $mediumDarkGrey;
  font-size: 0.9rem;

  a {
    color: white;
    background-color: inherit;
    font-weight: 400;

    &:active,
    &:focus,
    &:hover {
      color: white;
      outline-color: white;
      background-color: black;
    }
  }

  @media all and ($breakpointWide) {
    text-align: left;
  }
}
