@import "../_variables";

.block {
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 1rem;

  @media all and ($breakpointFull) {
    display: flex;
    justify-content: space-between;
  }
}

.disclaimer,
.copyright {
  display: block;
  text-align: center;
  font-size: 0.94rem;
}
