@import "../_variables";

.blockTitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 1.266rem;
  font-family: $headingFontFamily;
  font-size: 1.5rem;
  line-height: 1.2;

  h2 {
    font-family: $headingFontFamily;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1.28rem;
    text-align: center;
  }
}
