@import "../_variables";

.block {
  padding: 0 4%;

  @media all and ($breakpointFull) {
    padding: 0;
  }
}

.container {
  padding: 1rem 0 2rem;

  @media all and ($breakpointTiny) {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  @media all and ($breakpointWide) {
    display: flex;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media all and ($breakpointWide) {
    display: flex;
    flex: 0 0 50%;
    margin-right: 14px;
  }

  li {
    margin-bottom: 14px;

    @media all and ($breakpointTiny) {
      display: flex;
      margin-bottom: 28px;
    }

    @media all and ($breakpointWide) {
      margin-bottom: 0;
    }
  }
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
