@import "../_variables";

.block {
  padding: 0 4%;

  .container {
    padding: 1rem 0 2rem;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    // @media all and ($breakpointNarrow) {
    //   column-count: 4;
    //   column-gap: 28px;
    //   max-width: 832px;
    //   margin: auto;
    // }

    li {
      margin-bottom: 14px;

      // @media all and ($breakpointNarrow) {
      //   text-align: left;
      // }
    }

    .link {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}
