$colorPrimary: hsla(0, 0%, 0%, 0.8);
$backgroundColorPrimary: white;
$colorSecondary: white;
$backgroundColorSecondary: rebeccapurple;

$fontFamily: georgia, serif, sans-serif;
$headingFontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$containerWidth: 960px;
