$colorPrimary: #464646;
$backgroundColorPrimary: #fbf5ee;
$colorSecondary: white;
$backgroundColorSecondary: rebeccapurple;
$lightGrey: #e6eee0;
$umamiOrange: #da3c13;
$umamiGreen: #008068;

$fontFamily: "Open Sans", Verdana, sans-serif;
$headingFontFamily: "Scope One", Georgia, serif;

$containerWidth: 960px;

$breakpointNarrow: "min-width: 48em";
$breakpointWide: "min-width: 60em";
