$darkGrey: #464646;
$mediumDarkGrey: #5f665b;
$mediumGrey: #767775;
$lightGrey: #e6eee0;
$lighterGrey: #fbf5ee;
$lightGreen: #7cbe8c;
$umamiGreen: #008068;
$umamiOrange: #da3c13;
$umamiPink: #d93760;
$mediumPink: #eec2cb;
$lightPink: #fcece7;
$umamiRed: #cc2a00;

$colorPrimary: $darkGrey;
$backgroundColorPrimary: $lighterGrey;
$colorSecondary: white;
$backgroundColorSecondary: rebeccapurple;
$backgroundColorModal: rgba(0, 0, 0, 0.42);

$fontFamily: "Open Sans", Verdana, sans-serif;
$headingFontFamily: "Scope One", Georgia, serif;

$containerWidth: 1200px;

$breakpointTiny: "min-width: 30rem";
$breakpointNarrow: "min-width: 48rem";
$breakpointWide: "min-width: 60rem";
$breakpointFull: "min-width: 80rem";
