.formActions {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
  padding: 0.75rem 0;
}

@media screen and (min-width: 77em) {
  .formActions {
    margin: 1rem -0.5rem;
    padding: 0;
  }
}

.formActions > .button,
.formActions > .formWrapper {
  margin: 0.5rem;
  line-height: normal;
}
