@import "./variables";

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border: 1px solid $lightPink;
}

.title {
  flex-grow: 1;
}

.link {
  margin-bottom: 1em;
}

.content {
  flex-shrink: 0;
  margin-bottom: 1.2em;

  img,
  picture {
    display: block;
    width: 100%;
  }
}

.labelItems {
  color: $mediumDarkGrey;
  font-size: 0.889rem;
}

.fieldTitle {
  text-decoration: none;
  color: black;
  font-size: 1.424rem;
  font-weight: 400;
}
