.file {
  display: inline-block;
  min-height: 16px;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

.fileImage {
  background-image: url(../images/icons/image-x-generic.png);
}
