@import "./_variables";

.styles {
  margin-bottom: 1.45rem;

  // > div:first-child {
  //   margin: 0 auto;
  //   max-width: $containerWidth;
  //   padding: 1.45rem 1.0875rem;
  // }
}

.regionPreHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 4%;
  border-bottom: 1px solid $lightGrey;
  min-height: 65px; /* TODO: remove */

  @media screen and ($breakpointNarrow) {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 77px; /* TODO: remove */
  }

  @media screen and ($breakpointFull) {
    padding: 0;
  }
}

.regionHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 4%;
}
