@import "./_variables.scss";

.language-switcher {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: flex-end;
  }

  li a {
    color: white;
    padding: 0.5em;
  }
}
