@import "./_variables";

.styles {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

  li {
    margin-bottom: 0;
  }

  li a {
    color: inherit;
    padding: 0.5em;
    text-decoration: none;
  }

  .activeTrail {
    font-weight: bold;
    color: black;
  }
}
