@import "./_variables";

.container {
  max-width: $containerWidth;
  margin: auto;
}

.oneColumn {
  > .region {
    width: 100%;
  }
}

.twoColumns {
  @media all and ($breakpointWide) {
    display: flex;
    flex-wrap: wrap;

    .content,
    .sidebar {
      flex: 0 1 100%;
    }

    .content {
      flex: 0 1 72%;
      margin-right: 3%;
    }

    .sidebar {
      flex: 0 1 25%;
    }
  }
}

.onePlusFourGridSection {
  display: flex;
  flex-wrap: wrap;

  > .region {
    flex: 0 1 100%;
  }

  @media all and ($breakpointWide) {
    margin-right: -1.5%;
    margin-left: -1.5%;

    > .regionFirst {
      flex: 0 1 47%;
      margin-right: 1.5%;
      margin-left: 1.5%;
    }
  }
}

.fourGridGroup {
  @media all and ($breakpointWide) {
    display: flex;
    flex: 0 1 50%;
    flex-wrap: wrap;

    > .regionSecond,
    > .regionThird,
    > .regionFourth,
    > .regionFifth {
      flex: 0 1 44%;
      margin-right: 3%;
      margin-left: 3%;
    }
  }
}

.twoColSection {
  display: flex;
  flex-wrap: wrap;

  @media all and ($breakpointNarrow) {
    margin-right: -1.5%;
    margin-left: -1.5%;
  }

  > .region {
    flex: 0 1 100%;

    @media all and ($breakpointNarrow) {
      margin-right: 1.5%;
      margin-left: 1.5%;
    }
  }
}

.twoColSection3367 {
  @media all and ($breakpointNarrow) {
    > .regionFirst {
      flex: 0 1 30%;
    }

    > .regionSecond {
      flex: 0 1 64%;
    }
  }
}

.twoColSection6733 {
  @media all and ($breakpointNarrow) {
    > .regionFirst {
      flex: 0 1 64%;
    }

    > .regionSecond {
      flex: 0 1 30%;
    }
  }
}

.grid2 {
  @media all and ($breakpointTiny) {
    overflow-x: hidden;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: -14px;
    margin-left: -14px;

    @media all and ($breakpointTiny) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .item {
    margin-bottom: 28px;
    padding: 0 14px;

    @media all and ($breakpointTiny) {
      display: flex;
      flex-basis: calc(50% - 28px);
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0 14px 28px;
      padding: 0;
    }
  }
}

.grid3 {
  @media all and ($breakpointTiny) {
    overflow-x: hidden;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media all and ($breakpointTiny) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -14px;
    }
  }

  .item {
    margin-bottom: 28px;

    @media all and ($breakpointTiny) {
      display: flex;
      flex-basis: calc(50% - 28px);
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0 14px 28px;
      padding: 0;
    }

    @media all and ($breakpointWide) {
      flex-basis: calc(33.3% - 28px);
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.grid4 {
  @media all and ($breakpointTiny) {
    overflow-x: hidden;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media all and ($breakpointTiny) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -14px;
    }
  }

  .item {
    margin-bottom: 28px;

    @media all and ($breakpointTiny) {
      display: flex;
      flex-basis: calc(50% - 28px);
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0 14px 28px;
      padding: 0;
    }

    @media all and ($breakpointWide) {
      flex-basis: calc(25% - 28px);
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}
