@import "./variables";

.message {
  margin-bottom: 1em;
  padding: 20px;
  word-wrap: break-word;
  color: inherit;
  overflow-wrap: break-word;
}

.content {
  padding-left: 24px;
  background: no-repeat 0 center;
}

.notice {
  border: 1px solid #d9d9d9;
  background-color: #eeeeee;

  .content {
    background-image: url(../images/icons/puzzlepiece.svg);
  }
}

.success {
  border: 1px solid #cbdebc;
  background-color: #e6eee0;

  .content {
    background-image: url(../images/icons/check.svg);
  }
}

.warning {
  border: 1px solid #fae2a4;
  background-color: #fcf1d4;

  .content {
    background-image: url(../images/icons/warning.svg);
  }
}

.error {
  border: 1px solid #f8c8d5;
  background-color: #f9e6eb;

  .content {
    background-image: url(../images/icons/error.svg);
  }
}

.item {
  .zzz {
    color: red;
  }
}
