@import "../variables";

.form {
  > .formWrapper {
    margin-bottom: 1.28rem;
    padding: 0.889rem;
    border: 1px solid $lightPink;
    background: white;
  }

  .containerInline {
    label,
    div {
      display: block;
    }
  }

  .formTypeSearch {
    margin: 0 0 0.889rem 0;

    .formSearch {
      box-sizing: border-box;
    }
  }

  .formSearch {
    margin: 0;
  }
}

.searchHelpLink {
  display: inline-block;
  margin: 1.28rem;
}
