@import "../variables";

.form {
  > .formWrapper {
    margin-bottom: 1.28rem;
    padding: 0.889rem;
    border: 1px solid $lightPink;
    background: white;

    @media all and ($breakpointNarrow) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      margin-bottom: 1.28rem;
      padding: 1.28rem;
    }
  }

  .containerInline {
    label,
    div {
      display: block;
    }
  }

  .formTypeSearch {
    margin: 0 0 0.889rem 0;

    @media all and ($breakpointNarrow) {
      flex-grow: 1;
      margin: 0 1.28rem 0 0;
    }

    .formSearch {
      box-sizing: border-box;
    }
  }

  .formSearch {
    margin: 0;
  }
}

.searchHelpLink {
  display: inline-block;
  margin: 1.28rem;
}

.algoliaAttribution {
  display: flex !important;
  justify-content: flex-end;

  @media all and ($breakpointNarrow) {
    flex-basis: 100%;
    justify-content: flex-start;
  }

  a {
    display: block;
    margin-top: 1em;

    &:hover,
    &:focus {
      background: inherit;
    }
  }
}
