@import "../variables";

.field {
  margin-bottom: 1.184rem;
  padding: 1.266rem;
  background-color: $lighterGrey;

  @media all and ($breakpointWide) {
    margin-bottom: 2.369rem;
    padding: 2.369rem;
  }
}

.label {
  margin: 0 0 1em 0;
  padding: 0 0 0.6em 0;
  border-bottom: 1px solid $mediumPink;
  font-family: $headingFontFamily;
  font-size: 1.266rem;
  font-weight: 400;
  line-height: 1.2;

  @media all and ($breakpointWide) {
    margin: 0 0 1.5em 0;
    font-size: 1.77rem;
  }
}

.item {
  margin: 0 0 0.6em 0;
  padding: 0 0 0.6em 0;
  border-bottom: 1px solid $mediumPink;
  break-inside: avoid-column;
}
