.result {
  .zzz {
    color: red;
  }
}

.title {
  .zzz {
    color: red;
  }
}

.snippetInfo {
  .zzz {
    color: red;
  }
}

.snippet {
  margin-bottom: 0;

  em {
    font-style: normal;
    font-weight: bold;
  }
}

.info {
  margin-top: 1.28rem;
  margin-bottom: 0;
}
